.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  font-family: Arial;
}

.ticket {
  width: 700px;
  height: 300px;
  display: flex;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.left {
  width: 50%;
  background: #111;
  color: white;
  padding: 20px;
  position: relative;
}

.airport {
  font-size: 28px;
  font-weight: bold;
}

.country {
  margin-top: 30px;
  font-size: 24px;
}

.right {
  width: 50%;
  padding: 20px;
  background: white;
}

.flight-info, .details {
  margin-top: 20px;
}

.barcode {
  position: absolute;
  bottom: 20px;
  width: 80%;
  height: 50px;
  background: repeating-linear-gradient(
    90deg,
    black,
    black 2px,
    white 2px,
    white 4px
  );
}